/******* BUBBLE PROCHAINEMENT *******/
#bubble {
  width: 600px;
  height: 80px;
  margin-bottom: 170px;
  border: 1px solid #579c87;
  border-radius: 20px;
  background-color: #579c87;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-item-align: center;
      align-self: center;
}

#prochainement {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin-left: 70px;
}

#bloc-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  margin-left: 7px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fdcb46;
  margin-left: 5px;
  opacity: 0;
}

/******** ANIMATED DOTS *****/
@-webkit-keyframes wait {
  From {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wait {
  From {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bubble:hover #dot1 {
  -webkit-animation-name: wait;
          animation-name: wait;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

#bubble:hover #dot2 {
  -webkit-animation-name: wait;
          animation-name: wait;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

#bubble:hover #dot3 {
  -webkit-animation-name: wait;
          animation-name: wait;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#bubble:hover #dot1, #bubble:hover #dot2, #bubble:hover #dot3 {
  -webkit-animation-name: wait;
          animation-name: wait;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/********* END ANIMATED DOTS *********/
/******* END BUBBLE PROCHAINEMENT *******/
/********* MEDIA QUERIES BUBBLE *******/
@media all and (max-width: 900px) {
  #bubble {
    width: 300px;
    height: 60px;
    margin-bottom: 90px;
  }
  #bubble p {
    font-size: 1.5em;
  }
  #bloc-dots {
    margin-left: 1px;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

/********* END MEDIA QUERIES BUBBLE *******/
/******* HEADER ********/
header {
  background-color: #579c87;
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  font-weight: bold;
  margin: auto;
}

header a {
  text-decoration: none;
  color: #fdcb46;
}

header a:hover {
  color: blue;
}

/******* END HEADER ********/
/****** HEADER MEDIA QUERIES ******/
@media all and (max-width: 900px) {
  header {
    height: 100px;
  }
  h1 {
    font-size: 45px;
  }
}

/****** END HEADER MEDIA QUERIES ******/
/******** BLOC-PAGE ***********/
#bloc-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}

/****** END BLOC-PAGE ******/
/****** BLOC-PAGE MEDIAS QUERIES ******/
@media all and (max-width: 900px) {
  #bloc-page {
    margin: 0;
  }
}

/****** END BLOC-PAGE MEDIAS QUERIES ******/
/********* MAIN *********/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 110px;
  margin: 0;
}

main h2 {
  font-size: 2.5em;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin-top: 45px;
}

/********* END MAIN *********/
/*********** FOOTER ************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin: auto;
}

footer a {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

footer a:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: blue;
}

/********** END FOOTER **********/
/****** MEDIAS QUERIES FOOTER ******/
@media all and (max-width: 900px) {
  footer {
    height: 70px;
  }
  footer a {
    font-size: 1.5em;
  }
}

@media all and (max-width: 600px) {
  footer a {
    font-size: 1.3em;
  }
}

/****** END MEDIAS QUERIES FOOTER ******/
/********** INDEX ************/
body {
  margin: 0;
}

/********* BLOC MENUS ***********/
#bloc-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bloc-menus a {
  text-decoration: none;
}

#card-line-1, #card-line-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3%;
}

#bloc-menus article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 650px;
  -webkit-box-shadow: 6px 6px 22px grey;
          box-shadow: 6px 6px 22px grey;
  font-size: 40px;
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

/********* END BLOC MENUS ***********/
/************ MENU 1 *************/
#menu1 {
  background-color: #fcdfdb;
  color: #3d1319;
  margin-right: 30px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

#menu1:hover {
  opacity: 0.5;
}

#menu1 .card {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#menu1 .card:hover {
  -webkit-transform: scale(1.3) translateY(-70px);
          transform: scale(1.3) translateY(-70px);
  opacity: 0.6;
}

#menu1 .card #music1 {
  font-size: 2em;
}

#menu1 .card-title {
  font-family: "Dancing Script", cursive;
  font-size: 1em;
  margin-top: -30px;
  margin-bottom: -10px;
}

#menu1 .card-name {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
  font-weight: bold;
}

/************* END MENU 1 **************/
/************ MENU 2 *************/
#menu2 {
  background-color: #fff5fe;
  font-family: "Josefin Slab", serif;
  margin-left: 30px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

#menu2:hover {
  opacity: 0.5;
}

#menu2 .card {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 3s;
  transition: all 3s;
}

#menu2 .card:hover {
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.05);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.05);
  opacity: 0.5;
}

#menu2 .card-title {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), color-stop(#a56799), to(#6e4ccc));
  background: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -10px;
}

#menu2 .card-name {
  color: #c67412;
  font-weight: bold;
  font-size: 1.6em;
}

/************* FIN MENU 2 **************/
/************ MENU 3 *************/
#menu3 {
  background-color: #f9f9f9;
  margin-right: 30px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

#menu3:hover {
  opacity: 0.5;
}

#menu3 .card {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 1.5s ease-out;
  transition: -webkit-transform 1.5s ease-out;
  transition: transform 1.5s ease-out;
  transition: transform 1.5s ease-out, -webkit-transform 1.5s ease-out;
}

#menu3 .card:hover {
  -webkit-transform: scaleY(1.8) translateY(10px);
          transform: scaleY(1.8) translateY(10px);
  opacity: 0.5;
}

#menu3 .card-title {
  font-family: "Great Vibes", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), color-stop(#0670f3), to(#229df9));
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  margin-bottom: -10px;
}

#menu3 .card-name {
  font-family: "Kalam", cursive;
  color: #229df9;
  font-weight: bold;
  font-size: 1.6em;
}

/************* END MENU 3 **************/
/************ MENU 4 *************/
#menu4 {
  background-color: #fdfffd;
  margin-left: 30px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

#menu4:hover {
  opacity: 0.5;
}

#menu4 .card {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out;
}

#menu4 .card:hover {
  -webkit-transform: scale(1.35) translateY(20px);
          transform: scale(1.35) translateY(20px);
  -webkit-transition-timing-function: cubic-bezier(0.42, 0.02, 0, 1.29);
          transition-timing-function: cubic-bezier(0.42, 0.02, 0, 1.29);
  opacity: 0.7;
}

#menu4 .card-title {
  font-family: "Shadows Into Light Two", cursive;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(to right, #3d923a, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  margin-bottom: -10px;
}

#menu4 .card-name {
  color: #3d923a;
  font-family: "Shadows Into Light Two", cursive;
  font-style: italic;
  font-size: 1.5em;
}

/************* END MENU 4 **************/
/********** END INDEX **************/
/********* MEDIA QUERIES INDEX *******/
@media all and (max-width: 1100px) {
  #bloc-menus article {
    width: 400px;
    height: 550px;
  }
  .card {
    font-size: 0.8em;
  }
}

@media all and (max-width: 900px) {
  #card-line-1, #card-line-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1050px;
  }
  #menu1, #menu3 {
    margin-bottom: 20px;
    margin-right: auto;
  }
  #menu2, #menu4 {
    margin-top: 20px;
    margin-left: auto;
  }
  #card-line-1 {
    margin-bottom: 165px;
  }
  #card-line-2 {
    margin-top: 165px;
  }
  #bloc-menus {
    margin-bottom: 270px;
  }
  #bloc-menus article {
    width: 500px;
    height: 650px;
  }
  .card {
    font-size: 1em;
  }
}

@media all and (max-width: 600px) {
  #bloc-menus {
    margin-bottom: -180px;
  }
  #bloc-menus article {
    width: 300px;
    height: 400px;
  }
  #card-line-1 {
    margin-bottom: -85px;
  }
  #card-line-2 {
    margin-top: -85px;
  }
  .card {
    font-size: 0.6em;
  }
}

/*********** END MEDIA QUERIES INDEX *********/
/******* MUSIC NOTE ******/
#music1, #music2, #music3 {
  background: -webkit-gradient(linear, left top, right top, from(#f15f62), to(#f6916a));
  background: linear-gradient(to right, #f15f62, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style-index.css.map */