/******* HEADER ********/
header {
  background-color: #579c87;
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  font-weight: bold;
  margin: auto;
}

header a {
  text-decoration: none;
  color: #fdcb46;
}

header a:hover {
  color: blue;
}

/******* END HEADER ********/
/****** HEADER MEDIA QUERIES ******/
@media all and (max-width: 900px) {
  header {
    height: 100px;
  }
  h1 {
    font-size: 45px;
  }
}

/****** END HEADER MEDIA QUERIES ******/
/******** BLOC-PAGE ***********/
#bloc-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}

/****** END BLOC-PAGE ******/
/****** BLOC-PAGE MEDIAS QUERIES ******/
@media all and (max-width: 900px) {
  #bloc-page {
    margin: 0;
  }
}

/****** END BLOC-PAGE MEDIAS QUERIES ******/
/********* MAIN *********/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 110px;
  margin: 0;
}

main h2 {
  font-size: 2.5em;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin-top: 45px;
}

/********* END MAIN *********/
/******* MUSIC NOTE ******/
#music1, #music2, #music3 {
  background: -webkit-gradient(linear, left top, right top, from(#f15f62), to(#f6916a));
  background: linear-gradient(to right, #f15f62, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******* BLOC PAGE 1 *******/
body {
  margin: 0;
}

main {
  height: 1800px;
  margin-bottom: 110px;
}

/********** BLOC MENU 1 *********/
#bloc-menu {
  width: 80%;
  background-color: #fcdfdb;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 22px grey;
          box-shadow: 6px 6px 22px grey;
  color: #3d1319;
}

/******* ICON AND TITLE MENU 1 ******/
#menu-title {
  text-align: center;
  margin-bottom: 30px;
}

#menu-title p {
  font-size: 70px;
  margin-bottom: -10px;
}

#menu-title h2 {
  font-size: 4em;
  color: #3d1319;
  font-family: "Dancing Script", cursive;
  margin-top: -8px;
  margin-bottom: -15px;
}

/******* END ICON AND TITLE MENU 1 ******/
/********* THE 3 PARTS OF THE MENU 1 ********/
.dish {
  padding-top: 25px;
}

.dish li p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dish .subtitle {
  margin-top: 2px;
  margin-bottom: -40px;
}

/********* END THE 3 PARTS OF THE MENU 1 ********/
/*********** SUBTITLE MENU 1 *************/
.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.subtitle h4 {
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 2px) no-repeat left bottom/0 100%;
  -webkit-transition: background-size 0.50s;
  transition: background-size 0.50s;
}

h4:hover {
  background-size: 100% 100%;
}

/*********** END SUBTITLE MENU 1*************/
/******* HR SEPARATION LINE 1 ********/
hr {
  width: 300px;
  height: 5px;
  background-color: #3d1319;
  border: 1px solid #3d1319;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

/*********** END HR SEPARATION LINE 1 **************/
/********* PARAGRAPH MENU 1 *******/
.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 2em;
  font-family: "Caveat", cursive;
  padding-right: 100px;
  padding-left: 80px;
}

.paragraph li {
  list-style-type: none;
}

.paragraph .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/********* END PARAGRAPHES MENU 1 *******/
/**** REMINDER TITLE MENU 1 *****/
#end-of-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  padding-bottom: 15px;
}

#end-of-menu p {
  font-size: 40px;
}

#end-of-menu h3 {
  font-size: 2.5em;
  margin-left: 20px;
  font-family: "Dancing Script", cursive;
}

/**** END REMINDER TITLE MENU 1 *****/
/******* MEDIA QUERIES MENU 1 ********/
@media all and (max-width: 900px) {
  main {
    height: 85em;
  }
  main h2 {
    font-size: 1em;
    margin-top: 2px;
  }
  #menu-title h2, #menu-title p {
    font-size: 2.3em;
  }
  .dish h4 {
    font-size: 1.8em;
    text-align: center;
    margin-top: -20px;
  }
  hr {
    width: 120px;
  }
  .paragraph {
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: -30px;
  }
  .price {
    margin-left: 15px;
  }
  #end-of-menu h3, #end-of-menu p {
    font-size: 1.5em;
  }
}

@media all and (max-width: 600px) {
  hr {
    display: none;
  }
  .subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/******* END MEDIA QUERIES MENU 1 ********/
/*********** FOOTER ************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin: auto;
}

footer a {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

footer a:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: blue;
}

/********** END FOOTER **********/
/****** MEDIAS QUERIES FOOTER ******/
@media all and (max-width: 900px) {
  footer {
    height: 70px;
  }
  footer a {
    font-size: 1.5em;
  }
}

@media all and (max-width: 600px) {
  footer a {
    font-size: 1.3em;
  }
}

/****** END MEDIAS QUERIES FOOTER ******/
/*# sourceMappingURL=style-menu1.css.map */