/******* HEADER ********/
header {
  background-color: #579c87;
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  font-weight: bold;
  margin: auto;
}

header a {
  text-decoration: none;
  color: #fdcb46;
}

header a:hover {
  color: blue;
}

/******* END HEADER ********/
/****** HEADER MEDIA QUERIES ******/
@media all and (max-width: 900px) {
  header {
    height: 100px;
  }
  h1 {
    font-size: 45px;
  }
}

/****** END HEADER MEDIA QUERIES ******/
/******** BLOC-PAGE ***********/
#bloc-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}

/****** END BLOC-PAGE ******/
/****** BLOC-PAGE MEDIAS QUERIES ******/
@media all and (max-width: 900px) {
  #bloc-page {
    margin: 0;
  }
}

/****** END BLOC-PAGE MEDIAS QUERIES ******/
/********* MAIN *********/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 110px;
  margin: 0;
}

main h2 {
  font-size: 2.5em;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin-top: 45px;
}

/********* END MAIN *********/
/**********LEGAL***********/
body {
  margin: 0;
}

main {
  margin-bottom: 190px;
}

#mentions {
  margin: auto;
  width: 80%;
}

#mentions h2 {
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 70px;
  font-size: 40px;
}

#mentions h3 {
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-decoration: underline;
}

#mentions p {
  font-family: "Ubuntu", sans-serif;
  color: black;
  text-align: justify;
}

/*******MEDIA QUERIES LEGAL*********/
@media all and (max-width: 900px) {
  #mentions {
    margin-bottom: -60px;
  }
  #mentions h2 {
    text-align: center;
    font-size: 30px;
    margin: 30px;
  }
}

/*********** FOOTER ************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin: auto;
}

footer a {
  color: #fdcb46;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

footer a:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: blue;
}

/********** END FOOTER **********/
/****** MEDIAS QUERIES FOOTER ******/
@media all and (max-width: 900px) {
  footer {
    height: 70px;
  }
  footer a {
    font-size: 1.5em;
  }
}

@media all and (max-width: 600px) {
  footer a {
    font-size: 1.3em;
  }
}

/****** END MEDIAS QUERIES FOOTER ******/
/*# sourceMappingURL=style-legal.css.map */