/******* HEADER ********/
header {
  background-color: seagreen;
  width: 100%;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: yellow;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  font-weight: bold;
  margin: auto;
}

header a {
  text-decoration: none;
  color: yellow;
}

header a:hover {
  color: blue;
}

/****** MEDIA QUERIES HEADER ******/
@media all and (max-width: 900px) {
  header {
    height: 100px;
  }
  h1 {
    font-size: 45px;
  }
}

/****** END MEDIA QUERIES HEADER ******/
/******** END HEADER ********/
/******** BLOC-PAGE ***********/
#bloc-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 100%;
}

/****** MEDIAS QUERIES BLOC-PAGE ******/
@media all and (max-width: 900px) {
  #bloc-page {
    margin: 0;
  }
}

/****** END MEDIAS QUERIES BLOC-PAGE ******/
/********* MAIN *********/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 110px;
  margin: 0;
}

main h2 {
  font-size: 2.5em;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin-top: 45px;
}

/********* END MAIN *********/
/******* CORPS DE LA PAGE 3 *******/
body {
  margin: 0;
}

main {
  height: 1400px;
}

/********** BLOC MENU *********/
#bloc-menu {
  width: 80%;
  background-color: #edefef;
  padding-top: 20px;
  padding-bottom: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 22px grey;
          box-shadow: 6px 6px 22px grey;
}

/******* TITRE MENU ******/
#menu-title {
  text-align: center;
}

#menu-title h2 {
  font-size: 6em;
  padding-top: 10px;
  margin-bottom: -1px;
  font-family: "Great Vibes", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), color-stop(#0670f3), to(#229df9));
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*******FIN TITRE MENU ******/
/********* LES 3 PARTIES DU MENU ********/
.dish {
  padding-top: 18px;
  padding-bottom: 15px;
}

.dish p, .line p, .subtitle {
  margin-top: 2px;
  margin-bottom: 10px;
}

/********* FIN LES 3 PARTIES DU MENU ********/
/*********** SOUS-TITRES *************/
.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.subtitle h4 {
  font-size: 2em;
  font-family: "Kalam", cursive;
}

#entree h4 {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 2px, transparent 2px) no-repeat left bottom/0 100%;
  -webkit-transition: background-size 0.50s;
  transition: background-size 0.50s;
}

#resistance h4 {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 2px, transparent 2px) no-repeat left bottom/0 100%;
  -webkit-transition: background-size 0.50s;
  transition: background-size 0.50s;
}

#dessert h4 {
  background: linear-gradient(to top, #229df9 0%, #229df9 2px, transparent 2px) no-repeat left bottom/0 100%;
  -webkit-transition: background-size 0.50s;
  transition: background-size 0.50s;
}

#entree h4:hover, #resistance h4:hover, #dessert h4:hover {
  background-size: 100% 100%;
}

/*********** FIN SOUS-TITRES *************/
/******* LIGNES DE SEPARATION HR ********/
hr {
  width: 280px;
  height: 5px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

#hr1 {
  border: 1px solid #0228dd;
  background-color: #0228dd;
}

#hr1b {
  border: 1px solid #0228dd;
  background-color: #0228dd;
}

#hr2 {
  border: 1px solid #0670f3;
  background-color: #0670f3;
}

#hr2b {
  border: 1px solid #0670f3;
  background-color: #0670f3;
}

#hr3 {
  border: 1px solid #229df9;
  background-color: #229df9;
}

#hr3b {
  border: 1px solid #229df9;
  background-color: #229df9;
}

/******* FIN LIGNES DE SEPARATION HR ********/
/********* PARAGRAPHES MENU 3 *******/
#entree h4, #entree p {
  color: black;
}

#resistance h4, #resistance p {
  color: black;
}

#dessert h4, #dessert p {
  color: black;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.5em;
  font-family: "Kalam", cursive;
  padding-right: 70px;
  padding-left: 60px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/********* FIN PARAGRAPHES MENU 3*******/
/******* MEDIA QUERIES MENU 3 ********/
@media all and (max-width: 900px) {
  main {
    height: 45em;
  }
  main h2 {
    font-size: 1em;
    margin-top: 2px;
  }
  #bloc-menu {
    margin-bottom: 150px;
  }
  #menu-title h2 {
    font-size: 2.5em;
  }
  .dish h4 {
    font-size: 0.8em;
    text-align: center;
    margin-top: -20px;
  }
  hr {
    width: 100px;
  }
  .paragraph p {
    font-size: 0.7em;
    padding-right: 20px;
    padding-left: 15px;
  }
}

@media all and (max-width: 600px) {
  hr {
    visibility: hidden;
  }
}

/******* FIN MEDIA QUERIES MENU 3 ********/
/********* FOOTER **********/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: seagreen;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  margin: auto;
}

footer a {
  color: yellow;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
}

footer a:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: blue;
}

/****** MEDIAS QUERIES FOOTER ******/
@media all and (max-width: 900px) {
  footer {
    height: 80px;
  }
  footer p {
    font-size: 1.5em;
  }
}

@media all and (max-width: 600px) {
  footer a {
    font-size: 1.3em;
  }
}

/****** FIN MEDIAS QUERIES FOOTER ******/
/*# sourceMappingURL=style-menu3.css.map */