/******** BLOC-PAGE ***********/
#bloc-page{
    display:flex;
    flex-direction: column;
    margin:0;
    width:100%;
}
/****** END BLOC-PAGE ******/


/****** BLOC-PAGE MEDIAS QUERIES ******/
@media all and (max-width: 900px) {
    #bloc-page{
        margin:0;
    }
}
/****** END BLOC-PAGE MEDIAS QUERIES ******/


/********* MAIN *********/
main {
    display: flex;
    flex-direction: column;
    margin-bottom:110px;
    margin:0;
   }
main h2 {
    font-size: 2.5em;
    color: $color-text;
    font-family: $font-main-h2;
    text-align: center;
    margin-top: 45px;
} 
/********* END MAIN *********/