/********* FOOTER **********/
footer {
    display: flex;
    background-color: $background-h-f;
    justify-content: space-between;
    width: 100%;
    height:110px;
    align-items: center;
    z-index: 2;
    position : fixed;
    bottom: 0;
    margin:auto; 
a {
    color: $color-h-f;
    font-family: $font-h-f;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    margin-left:15px;
    margin-right:15px;    
}
}
@keyframes wiggle {
    0% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(-2px, -2px);
    }
}
footer a:hover {
    animation-name: wiggle;
    animation-duration: 150ms;
    animation-iteration-count: infinite;
    color: $color-hover-h;
}


/****** MEDIAS QUERIES FOOTER ******/
@media all and (max-width: 900px) {
footer {height:80px;}
    footer p{
font-size: 1.5em;
}
}
@media all and (max-width: 600px) {
footer a{
    font-size: 1.3em;
}
}
/****** FIN MEDIAS QUERIES FOOTER ******/
