/******* HEADER ********/
header {
    background-color:$background-h-f;
    width: 100%;
    height: 170px;
    display:flex;
    margin:0; 
    align-items: center;
}
header h1{  
    color:$color-h-f;
    font-family: $font-h-f;
    font-weight: bold; 
    font-size:70px;
    font-weight: bold; 
    margin:auto; 
}
header a {
    text-decoration: none;
    color:$color-h-f;
}
header a:hover{
    color: $color-hover-h;
}

/****** MEDIA QUERIES HEADER ******/
@media all and (max-width: 900px) {
    header
    {height:100px;}
    h1
    {font-size:50px;}
}
/****** END MEDIA QUERIES HEADER ******/
/******** END HEADER ********/