//FONT HEADER - FOOTER - BUBBLE
$font-h-f:'Roboto', sans-serif;

//MAIN H2
$font-main-h2:'Noto Sans JP', sans-serif;

//FONT LEGAL
$font-legal:'Ubuntu', sans-serif;

//FONT TITLE MENU 1 - CARD 1
$fontm1-title:'Dancing Script', cursive;
$fontm1-subtitle-p:'Caveat', cursive;

//FONT TITLE MENU 2 - CARD 2
$fontm2:'Josefin Slab', serif;

//FONT TITLE MENU 3 - CARD 3
$fontm3-title: 'Great Vibes', cursive;
$fontm3-subtitle-p: 'Kalam', cursive;

//FONT TITLE MENU 4 - CARD 4
$fontm4:'Shadows Into Light Two', cursive;