/********** INDEX ************/
body{@include margin-body;}
/********* BLOC MENUS ***********/
#bloc-menus {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    align-items: center;
}
#bloc-menus a /*Liens des menus*/ 
{text-decoration: none;}
#card-line-1, #card-line-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3%;
}
#bloc-menus aside {
    display: flex;
    width: 500px;
    height: 650px;
    @include shadow;
    font-size: 40px;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    margin: auto;
}
/********* FIN BLOC MENUS ***********/

/************ DEBUT MENU 1 *************/
#menu1 {
    background-color: $background-menu1;
    color: $color-text-menu1;
    @include menu-margin-right;
    @include background-fade-effect;
    
.card{
    @include scale-opacity-start;
    transition:all 3s;
    &:hover  {
        transform: scale(1.30) translateY(-70px);
        opacity:0.6;
}
}
.card #music1 {
    font-size:2em;
    }
.card-title {
        font-family: $fontm1-title;
        font-size: 1em;
        margin-top: -30px;
        margin-bottom :-10px;
    }
.card-name {
        font-family: $fontm1-subtitle-p;
        font-size: 1.5em;
        font-weight: bold;
    }
}

/************* FIN MENU 1 **************/

/************ DEBUT MENU 2 *************/
#menu2 {
    background-color: $background-menu2;
    font-family: $fontm2;
    @include menu-margin-left;
    @include background-fade-effect;
.card{
    @include scale-opacity-start;
    transition:all 3s;
    &:hover  {
        transform: scale(1.20) translateX(50px) perspective(300px) rotateY(30deg); 
        transition-timing-function:cubic-bezier(.17,.67,0,1.05);
        opacity:0.5;
    }
    }       
.card-title{
        font-weight: bold;
        background: linear-gradient(to right, $color-text1-menu2, $color-text2-menu2, $color-text3-menu2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: -10px;
    }
.card-name {
        color: $color-text1-menu2;
        font-weight: bold;
        font-size: 1.6em;
    }
}
/************* FIN MENU 2 **************/

/************ DEBUT MENU 3 *************/
#menu3 {
    background-color: $background-card-menu3;
    @include menu-margin-right;
    @include background-fade-effect;
.card{
    @include scale-opacity-start;
    transition:transform 1.5s ease-out;
    &:hover  {
        transform: scaleY(1.8) translateY(10px);
        opacity:0.5;
}
}  
.card-title {
        font-family: $fontm3-title;
        background: linear-gradient(to right, $color-text1-menu3, $color-text2-menu3, $color-text3-menu3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.4em;
        margin-bottom: -10px;
    }
.card-name {
        font-family: $fontm3-subtitle-p;
        color: rgb(34, 157, 249);
        font-weight: bold;
        font-size:1.6em;
    }
}
/************* FIN MENU 3 **************/

/************ DEBUT MENU 4 *************/
#menu4 {
    background-color: $background-menu4;
    @include menu-margin-left;
    @include background-fade-effect;
.card{
    @include scale-opacity-start;
    transition:all 3s ease-out;
    &:hover  {
        transform: scale(1.35) translateY(10px) perspective(300px) rotateX(-35deg);
        transition-timing-function:cubic-bezier(.42,.02,0,1.29);
        opacity:0.7;
}
}
.card-title{
        font-family: $fontm4;
        font-style: italic;
        background: linear-gradient(to right, $color-dark-menu4, $color-light-menu4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1em;
        margin-bottom: -10px;
    }
.card-name {
        color: rgb(69, 153, 62);
        font-family: $fontm4;
        font-style: italic;
        font-size: 1.5em;
    }
}
/************* FIN MENU 4 **************/

/********** FIN INDEX **************/

/********* MEDIA QUERIES INDEX *******/
@media all and (max-width: 1100px) {
    #bloc-menus aside
    { width:400px;
    height:550px;
    } 
    .card
    {font-size:0.8em;}
    }
    
    @media all and (max-width: 900px) {
    #card-line-1, #card-line-2 {
            display: flex;
            flex-direction: column;  
            align-items: center;
            height:1050px;
            width:600px;
        }
    #menu1, #menu3 {
        margin-bottom: 20px;
        margin-right: auto;}
    #menu2, #menu4 {
        margin-top: 20px;
        margin-left: auto;}
    
    #card-line-1{margin-bottom: 165px;}
    #card-line-2{margin-top: 165px;}
    
    #bloc-menus {
    margin-bottom: 270px;
    aside {
    width:500px;
        height:650px;
    } 
    }
    .card
    {font-size:1em;}
    }
    
    @media all and (max-width: 600px) {
    #bloc-menus{
        margin-bottom: -180px; 
    aside
    { width:300px;
    height:400px;}
    }
    #card-line-1{margin-bottom: -85px;}
    #card-line-2 {margin-top: -85px;}
    .card
    {font-size:0.6em;}
    }
    /*********** FIN MEDIA QUERIES INDEX *********/
