
/******* CORPS DE LA PAGE 2 *******/
body{@include body-margin;}
main {height: 1450px;}

/********** BLOC MENU *********/
#bloc-menu {
    width: $width-b-m;
    background-color: $background-menu2;
    @include bloc-menus-padding ;
    @include bloc-menu-align;
    @include shadow;
}

/******* TITRE MENU ******/
#menu-title {
    @include title-center;
    margin-bottom: 30px;
 h2 {
        font-size: 4em;
        font-family: $fontm2;
        font-weight: bold;
        background: linear-gradient(to right, rgb(198, 116, 18), rgb(165, 103, 153), rgb(110, 76, 204));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/******* FIN TITRE MENU ******/

/********* LES 3 PARTIES DU MENU ********/
.dish {
    padding-top: 18px;
    padding-bottom: 15px;
}
    .dish p, .line p, .subtitle {
        margin-top: 2px;
        margin-bottom: 10px;
    }
/********* FIN LES 3 PARTIES DU MENU ********/

/*********** SOUS-TITRES *************/
.subtitle {@include subtitle-align;
    margin-left: 40px;
    margin-right: 40px; 
h4 {
    font-size: 2em;
    font-family: $fontm2;
}
}
#entree h4 {
    background: linear-gradient(to top, $color-text1-menu2 0%, $color-text1-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#resistance h4 {
    background: linear-gradient(to top, $color-text2-menu2 0%, $color-text2-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#dessert h4 {
    background: linear-gradient(to top, $color-text3-menu2 0%, $color-text3-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#entree h4:hover, #resistance h4:hover, #dessert h4:hover 
{@include underline;}
/*********** FIN SOUS-TITRES *************/

/******* LIGNES DE SEPARATION HR ********/
hr {
    width: 280px;
    height: 5px;
    border-radius: 20px;
    margin-left:15px ;
    margin-right:15px ;
}
#hr1 {
    border: 1px solid $color-text1-menu2;
    background-color: $color-text1-menu2;
}
#hr1b {
    border: 1px solid $color-text1-menu2;
    background-color: $color-text1-menu2;
}
#hr2 {
    border: 1px solid $color-text2-menu2;
    background-color: $color-text2-menu2;
}
#hr2b {
    border: 1px solid $color-text2-menu2;
    background-color: $color-text2-menu2;
}
#hr3 {
    border: 1px solid $color-text3-menu2;
    background-color: $color-text3-menu2;
}
#hr3b {
    border: 1px solid $color-text3-menu2;
    background-color: $color-text3-menu2;
}
/******* FIN LIGNES DE SEPARATION HR ********/

/********* PARAGRAPHES MENU 2*******/
#entree h4, #entree p{
    color: rgb(198, 116, 18);
}
#resistance h4, #resistance p {
    color: rgb(165, 103, 153);
}
#dessert h4, #dessert p {
    color: rgb(110, 76, 204);
}
.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size:1.5em;
    font-family: $fontm2;
    padding-right: 70px;
    padding-left: 60px;
}
.line {@include p-price-line;}
/********* FIN PARAGRAPHES MENU 2*******/

/******* MEDIA QUERIES MENU 2 ********/


@media all and (max-width: 900px) {
    main
    {@include main-adjust;}

    #menu-title h2
    {font-size: 2em;} 
    
    .dish h4
    {font-size:1.2em;
    text-align: center;
    margin-top:-20px;}
    
    hr
    {@include hr-reduced;}
    
    .paragraph{
        font-size: 1em;
        padding-right: 10px;
        padding-left: 15px;
        margin-top:-20px;}
}
@media all and (max-width: 600px) {
    hr{@include hr-remove;}
    .subtitle{@include subtitle-center;}
}    
/******* FIN MEDIA QUERIES MENU 2 ********/
