/******* BLOC PAGE 2 *******/
body{margin:$body-margin;}
main {height: 1450px;}


/********** BLOC MENU 2 *********/
#bloc-menu {
    width: $width-b-m;
    background-color: $background-menu2;
    @include bloc-menus-padding ;
    @include bloc-menu-align;
    @include shadow;
}


/******* TITLE MENU 2 ******/
#menu-title {
    @include title-center;
    margin-bottom: 30px;
 h2 {
        font-size: 4em;
        font-family: $fontm2;
        font-weight: bold;
        background: linear-gradient(to right, $color-text1-menu2, $color-text2-menu2, $color-text3-menu2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/******* END TITLE MENU ******/


/********* THE 3 PARTS OF THE MENU 2 ********/
.dish {
    padding-top: 18px;
    padding-bottom: 15px;
}
    .dish p, .line p, .subtitle {
        margin-top: 2px;
        margin-bottom: 10px;
    }
/********* END THE 3 PARTS OF THE MENU 2 ********/


/*********** SUBTITLE MENU 2 *************/
.subtitle {@include subtitle-align;
    margin-left: 40px;
    margin-right: 40px; 
h4 {
    font-size: 2em;
    font-family: $fontm2;}
}
#entree h4 {
    background: linear-gradient(to top, $color-text1-menu2 0%, $color-text1-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#resistance h4 {
    background: linear-gradient(to top, $color-text2-menu2 0%, $color-text2-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#dessert h4 {
    background: linear-gradient(to top, $color-text3-menu2 0%, $color-text3-menu2 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
#entree h4:hover, #resistance h4:hover, #dessert h4:hover 
{@include underline;}
/*********** END SUBTITLE MENU 2 *************/


/******* HR SEPARATION LINE 2 ********/
hr {
    width: 280px;
    height: 5px;
    border-radius: 20px;
    margin-left:15px ;
    margin-right:15px ;
}
#hr1 {
    border: 1px solid $color-text1-menu2;
    background-color: $color-text1-menu2;
}
#hr1b {
    border: 1px solid $color-text1-menu2;
    background-color: $color-text1-menu2;
}
#hr2 {
    border: 1px solid $color-text2-menu2;
    background-color: $color-text2-menu2;
}
#hr2b {
    border: 1px solid $color-text2-menu2;
    background-color: $color-text2-menu2;
}
#hr3 {
    border: 1px solid $color-text3-menu2;
    background-color: $color-text3-menu2;
}
#hr3b {
    border: 1px solid $color-text3-menu2;
    background-color: $color-text3-menu2;
}
/*********** END HR SEPARATION LINE 2 **************/


/********* PARAGRAPH MENU 2*******/
#entree h4, #entree p{
    color: $color-text1-menu2;
}
#resistance h4, #resistance p {
    color: $color-text2-menu2;
}
#dessert h4, #dessert p {
    color: $color-text3-menu2;
}
.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size:1.5em;
    font-family: $fontm2;
    padding-right: 70px;
    padding-left: 60px;
}
.line {@include p-price-line;}
/********* END PARAGRAPH MENU 2*******/


/******* MEDIA QUERIES MENU 2 ********/
@media all and (max-width: 900px) {
    main
    {height: 55em;
    h2 {@include h2-main-adjust;}
    }

    #menu-title h2
    {font-size: 2em;} 
    
    .dish h4
    {font-size:1.2em;
    text-align: center;
    margin-top:-20px;}
    
    hr{width:$hr-reduced;}
    
    .paragraph{
        font-size: 1em;
        padding-right: 10px;
        padding-left: 15px;
        margin-top:-20px;}
    }

@media all and (max-width: 600px) {
    hr{@include hr-remove;}
    .subtitle{@include subtitle-center;}
}    
/******* END MEDIA QUERIES MENU 2 ********/
