
/******* CORPS DE LA PAGE 4 *******/
main { height: 1550px; }
  
/********** BLOC MENU *********/
#bloc-menu {
    width: $width-b-m;
    background-color: $background-menu4;
    @include padding-bloc-menus ;
    @include align-bloc-menu;
    @include shadow;
}

/******* TITRE MENU ******/
#menu-title {
    @include title-center;
 h2 {
        font-size: 5em;
        padding-top: 10px;
        margin-bottom: -1px;
        font-family: $fontm4;
        font-style: italic;
        background: linear-gradient(to right, $color-dark-menu4, $color-light-menu4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
/******* FIN TITRE MENU ******/ 

/********* LES 3 PARTIES DU MENU ********/
.dish {
    padding-top: 18px;
    padding-bottom: 15px;
}
    .plat p, .line p, .subtitle {
        margin-top: 2px;
        margin-bottom: 10px;
    }
/********* FIN LES 3 PARTIES DU MENU ********/

/*********** SOUS-TITRES *************/
.subtitle {@include subtitle-align;}
h4 {
        font-size: 2em;
        color: $color-text-menu4;
        font-family: $fontm4;
        font-style: italic;
    }

    h4 {
    background: linear-gradient(to top, $color-dark-menu4 0%, $color-light-menu4 2px, transparent 2px) no-repeat left bottom / 0 100%;
    transition: background-size 0.50s;
}
    h4:hover {@include underline;}
/*********** FIN SOUS-TITRES *************/

/******* LIGNES DE SEPARATION HR ********/
hr {
    width: 300px;
    height: 5px;
    border-radius: 20px;
}
#hr1, #hr2, #hr3 {
    border: 1px solid $color-light-menu4;
    background-image: linear-gradient(to right, $color-dark-menu4, $color-light-menu4);
}
#hr1b, #hr2b, #hr3b {
    border: 1px solid $color-light-menu4;
    background-image: linear-gradient(to left, $color-dark-menu4, $color-light-menu4);
}
/******* FIN LIGNES DE SEPARATION HR ********/

/********* PARAGRAPHES *******/
.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;
    margin: 2%;
    color: $color-text-menu4;
    font-family: $fontm4;
    font-style: italic;
    font-size: 1.5em;
}
.price {padding-right: 80px;}
.line {@include p-price-line;}
/********* FIN PARAGRAPHES *******/

/******* MEDIA QUERIES ********/
@media all and (max-width: 900px) {

    main
    {height: 60em;
    h2{ font-size: 1em;
    margin-top:2px;}
    }
    
    #menu-title h2
    {font-size: 2em;} 
    
    .dish h4
    {font-size:1.2em;
    text-align: center;
    margin-top:-20px;}
    
    hr
    {width:25px;}
    
    .paragraph p
    {font-size:0.7em;
    margin-bottom:15px;}

    .price{margin-left:15px;}
  
    #entree .paragraph, #resistance .paragraph, #dessert .paragraph
    {margin-left: -70px;
    margin-right: -75px;
    margin-top:-20px;}
    
    #resistance, #dessert
    {margin-top: -20px;}  
    
    }
/******* FIN MEDIA QUERIES ********/