//==BLOC-MENUS==========================

//Shadow bloc-menus and cards
@mixin shadow 
{box-shadow:6px 6px 22px grey;}

//padding : bloc-menu
@mixin padding-bloc-menus 
{padding-top: 20px;
padding-bottom: 35px;}

//align center : bloc-menu
@mixin align-bloc-menu
{align-self: center;
align-items: center;}

//==END BLOC-MENUS======================


//==MENU-TITLE==========================

//menu-title : center
@mixin title-center
{text-align: center;}

//==END MENU-TITLE======================


//==SUBTITLE============================

@mixin subtitle-align
{display: flex;
align-items: baseline;
justify-content: space-between; }

@mixin underline 
{background-size: 100% 100%; }

//END SUBTITLE==========================


//==LINES PARAGRAPHE/PRICE==============

@mixin p-price-line
{ display: flex;
    align-items: baseline;
    justify-content: space-between;}

//END LINES PARAGRAPHE/PRICE============


//==ZOOM================================
//background fade effect
@mixin background-fade-effect
{transition-property: opacity;
    transition-duration: 3s;
    &:hover {
        opacity:0.5;
    }
}
//Scale-opacity start card
@mixin scale-opacity-start
{transform:scale(1);
    opacity:1;}

//text fade effect
//@mixin text-fade-effect
//{opacity:0.7;}    

//==END ZOOM============================

//==VISIBILITY HR MEDIA QUERIES=========

@mixin hr-reduced
{width:100px;}

@mixin hr-hidden
{visibility:hidden;}

//==VISIBILITY HR MEDIA QUERIES=========
