//==BODY======================================
@mixin body-margin
{margin:0;}


//==MAIN======================================
//main + h2 media queries menus 2-3-4
@mixin main-adjust
{height: 55em;
h2{ font-size: 1em;
margin-top:2px;
}
}


//==BLOC-MENU================================
//bloc-menu and cards : shadow
@mixin shadow 
{box-shadow:6px 6px 22px grey;}

//bloc-menu : padding
@mixin bloc-menus-padding 
{padding-top: 20px;
padding-bottom: 35px;}

//bloc-menu : align center
@mixin bloc-menu-align
{align-self: center;
align-items: center;}


//==MENUS=====================================
@mixin menu-margin-right
{margin-right: 30px;}

@mixin menu-margin-left
{margin-left: 30px;}

//menu-title : center
@mixin title-center
{text-align: center;}

//==Menus zoom==
//background fade effect
@mixin background-fade-effect
{transition-property: opacity;
    transition-duration: 3s;
    &:hover {
        opacity:0.5;
    }
}
//Card : scale-opacity start 
@mixin scale-opacity-start
{transform:scale(1);
    opacity:1;} 
//==End menus zoom==

//menus : size adjustement media queries
@mixin menu-size-adjustment
{max-width:100%;}


//==SUBTITLE==================================
@mixin subtitle-align
{display: flex;
align-items: baseline;
justify-content: space-between; }

@mixin underline 
{background-size: 100% 100%; }

//MEDIA max-width 600px
@mixin subtitle-center
{justify-content: center;}


//==LINES PARAGRAPHE/PRICE====================
@mixin p-price-line
{ display: flex;
    align-items: baseline;
    justify-content: space-between;}


//==HR =======================================
//width et visibility media queries
//MEDIA max-width 900px
@mixin hr-reduced
{width:100px;}

//MEDIA max-width 600px
@mixin hr-remove
{display: none;}

