//==COLORS====================================

//Colors : header - footer - bubble
$background-h-f: rgb(87, 156, 135);
$color-h-f: rgb(253, 203, 70);
$color-hover-h: rgb(0, 0, 255);

//Colors : legal - main h2
$color-text: black;

//Colors  : music note
$first-color-note:rgb(241, 95, 98);
$second-color-note:rgb(246, 145, 106);

//Colors : menu 1
$background-menu1: rgb(252, 223, 219);
$color-text-menu1: rgb(61, 19, 25);

//Colors : menu 2
$background-menu2: rgb(255, 245, 254);
$color-text1-menu2: rgb(198, 116, 18);
$color-text2-menu2: rgb(165, 103, 153);
$color-text3-menu2: rgb(110, 76, 204);

//Colors : menu 3
$background-card-menu3:rgb(249, 249, 249);
$background-menu3:rgb(237, 239, 239);
$color-text-menu3: black;
$color-text1-menu3: rgb(2, 40, 221);
$color-text2-menu3: rgb(6, 112, 243);
$color-text3-menu3: rgb(34, 157, 249);

//Colors : menu 4
$background-menu4: rgb(253, 255, 253);
$color-text-menu4: black;
$color-light-menu4: rgb(190, 255, 127);
$color-dark-menu4: rgb(61, 146, 58);

//==END COLORS===============================


//==SIZES====================================

//Body
$body-margin:0;

//Width bloc-menus
$width-b-m:80%;

//Menus 1-3
$menu-margin-right:30px;

//Menus 2-4
$menu-margin-left:30px;

//HR : media queries max-width 900px
$hr-reduced:120px;

//== END SIZES================================
